.results-table {
    text-align: left;
    background-color: #fff;
    color: black;
    font-size: 12px;
    font-family: lucida console;
}
.results-row
{
    border-top: 1px solid #D9D9D9;
    align-items: normal;
    padding-top: 2px;
}
.results-row:hover
{
    background-color: #aaa;
}

.results-header
{
    background-color: #eee;
    text-transform: none;
}

.results-row-error
{
}
